<div class="equation-container-full animated bounceInLeft clearfix {{classname}}">
    <div class="equation-num equation-num-left {{numberdots}} value{{num1}} {{num1class}}">
        {{imgstr1}}
    </div>
    <div class="math-sign math-sign-operator has-text {{mathsignclass}}">
        {{mathSignOperator}}
    </div>
    <div class="equation-num equation-num-right {{numberdots}} value{{num2}} {{num2class}}">
        {{imgstr2}}
    </div>
    <div class="math-sign math-sign-equal has-text {{mathsignclass}}">
        {{mathSignEqual}}
    </div>
    <div class="equation-num equation-num-result {{numberdots}} value{{num3}} {{num3class}}">
        {{imgstr3}}
    </div>
</div>