<div class="equation-container animated bounceInLeft clearfix {{classname}}">
    <div class="equation-num equation-num-left {{numberdots}} value{{num1}} {{num1class}}">
        {{imgstr1}}
    </div>
    <div class="math-sign math-sign-operator">
        =
    </div>
    <div class="equation-num equation-num-right {{numberdots}} value{{num2}} {{num2class}}">
        {{imgstr2}}
    </div>
    <div class="math-sign math-sign-equal">
        =
    </div>
</div>