<div class="repeat-image animated bounceInLeft {{imageclass}}" style="height: {{height}}px;">
    <div class="repeat-image-left" style="width: {{left}}px;"></div>
    <div class="repeat-image-middle" style="width: {{middle}}px;"></div>
    <div class="repeat-image-right" style="width: {{right}}px;"></div>
</div>